{% extends 'base.html'%} {% block content %}
<div class="container">
    <h1>Registro de Empresa</h1>
    <p>Debe llenar los siguientes campos para registrarse.</p>
    <hr>
    <form>
        <div class="form-group">
            <div class="campo">
                <h3>CUI: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="CUI">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>NIT: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="NIT">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Nombre de la Empresa: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="Nombre Empresa">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Nombre Comercial: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="Nombre Comercial">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Nombre Representante: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="nombre">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Email: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="email">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Direccion: </h3>
            </div>
            <div class="form-field">
                <input type="text" placeholder="direccion completa">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Fecha de Nacimiento: </h3>
            </div>
            <div class="form-field">
                <input type="date">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Contraseña: </h3>
            </div>
            <div class="form-field">
                <input type="password" placeholder="contraseña">
            </div>
        </div>
        <div class="form-group">
            <div class="campo">
                <h3>Repetir Contraseña: </h3>
            </div>
            <div class="form-field">
                <input type="password" placeholder="repretir contraseña">
            </div>
        </div>
    </form>
    <div class="button-field">
        <button type="button" class="boton verde-btn">Crear Usuario</button>
    </div>
</div>
{% endblock %}