.home {
    height: 85vh;
    margin-top: -20px;
    background: rgb(20, 147, 208);
    overflow: hidden;
}

.home_title {
    color: white;
    font-weight: 600;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    text-align: center;
    margin: 30px 0 15px 0;
    font-size: 50px;
}

.text-center {
    margin-bottom: 15px;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards-container:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.06);
}

.card {
    background-color: #fffffff3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*justify-content: space-evenly;*/
    height: 100px;
    max-width: 100%;
    max-height: 200px;
    margin: 0 45px 25px 45px;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.card:hover {
    cursor: pointer;
}